<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

    <form action="" method="post">
        <p>
            <label for="new_username">Choose a Username</label>
            <input type="text" name="new_username">
        </p>
        <p>
            <label for="new_password">Choose a Password</label>
            <input type="password" name="new_password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>


</body>
</html>
