<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <h1>Dashboard</h1>

    <p>Hello, {{ user }}</p>
    <p>You're logged in!</p>

    <form action="" method="post">
        <p>
            <label for="search">See your stored info or look up other registered users (only your username's info will show up)</label>
            <input type="text" name="search">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}

    {% if script %}
        <script>eval("{{ script }}");</script>
    {% endif %}

    <ul>
      <li><a href="/logout/">Logout</a></li>
    </ul>


</body>
</html>
